name: Documentation

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5

      - name: uv Sync (including dev-dependencies)
        run: uv sync --all-groups --frozen

      - name: Extract SBOM
        run: uv run cyclonedx-py venv -o docs/_static/sbom.json

      - name: Build static files
        run: uv run --no-sync sphinx-build docs/ docs/_build
        env:
          PYTHONPATH: ${{ github.workspace }}

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_build/

  deploy-docs:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    needs: build-docs

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
